{{merge|Java Edition|reason=Too short to be a separate page; duplicated with [[Java Edition#Hardware]]}}
{{exclusive|java}}
{{About|the game requirements of the latest version of Java Edition|the server requirements|Server/Requirements}}
Any modern computer can actually run ''Minecraft'', even with low processor and graphics card. All these information are taken according to the Minecraft Help Center. However, for an enjoyable experience, it is encouraged to consult the recommended requirements.

'''Java 21 is required''', though the game comes with its own version of Java, so no manual installation is required.

The below requirements are for the unmodified/"vanilla" versions of the game. Mods, resource packs and custom maps can have significantly higher requirements.

{| class="wikitable sortable collapsible" data-description="Full game requirements"
! class="unsortable" width="75" | Requirements
! class="unsortable" width="250" | CPU
! class="unsortable" width="65" | RAM
! class="unsortable" width="250" | GPU<ref group="note">Comparing hardware models can be quite confusing, since the models usually start with a "generation" number. Entry level graphic cards ending with "10" are almost always not worth the money: just because "910M" is higher than "780" doesn't mean this entry GeForce card beats the highest-end card from the 7th gen. The "GFLOPS" number provided for almost every card can give you a quick idea how beefy it was, but for a meaningful comparison you should ask a benchmark website.</ref>
! class="unsortable" width="290" | Storage
! class="unsortable" width="250" | OS
|-
! Minimum
| align="center"| [https://ark.intel.com/content/www/us/en/ark/products/71053/intel-core-i3-3210-processor-3m-cache-3-20-ghz.html Intel Core i3-3210], [https://amd.com/en/products/specifications/processors AMD A8-7600 APU], [https://support.apple.com/HT211814 Apple M1 chip], or equivalent
| align="center" | 1 GB
| 
* '''Integrated''': Intel HD Graphics 4000 (Ivy Bridge) or AMD Radeon R5 series (Kaveri APU) with OpenGL 4.4
* '''Discrete''': GeForce 400 Series (410+) or AMD Radeon HD 7000 series with OpenGL 4.4.
| align="center"| 1 GB on HDD
| align="center"| <strong>Windows</strong>: Windows XP or later<br><strong>macOS</strong>: macOS Mojave (10.14.5) or later<ref group="note">Starting from Minecraft version 1.18, macOS Mojave (10.14.5) or later is required to play.</ref><br><strong>Linux</strong>: Any modern 64-bit distros from 2014 onward
|-
! Recommended
| align="center" | [https://ark.intel.com/content/www/us/en/ark/products/80810/intel-core-i5-4690-processor-6m-cache-up-to-3-90-ghz.html Intel Core i5-4690], [https://amd.com/en/products/specifications/processors AMD A10-7800 APU], [https://support.apple.com/HT211814 Apple M1 chip]<ref group="note">Starting from 1.19 update, Minecraft brings native support of M1 (ARM64) architecture.</ref>, or equivalent
| align="center" |8 GB
|Any modern non-entry-level graphics card with OpenGL 4.5.
*'''Discrete''': GeForce 700 Series (740+) or Radeon R7 200.
| align="center" |4 GB on SSD
| align="center" |<strong>Windows</strong>: Windows 10 or 11<br><strong>macOS</strong>: macOS Mojave (10.14.5) or later<br><strong>Linux</strong>: Any modern distros from 2014 onward
|}
<references group="note" />
<references group="note" />


==References==
#[https://help.minecraft.net/hc/en-us/articles/4409225939853 ''Minecraft: Java Edition'' Installation Issues FAQ – Home]

{{Java Edition}}

[[ja:Java Edition ハードウェア要件]]
[[hu:Java Edition hardver követelmények]]
[[pt:Requisitos de Hardware da Edição Java]]
[[pl:Sprzęt]]
[[ru:Системные требования]]
[[zh:Java版硬件需求]]